@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Inter:wght@300;400;500&family=Merriweather:wght@400;700&family=Open+Sans:wght@300;400;500&display=swap');

.menu {
    margin: 1em 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 32px;
}

.menu li {
    display: inline-block;
    padding: 0 1em;
}

.side .menu {
    color: white;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    list-style: none;
    font-size: 32px;
}

.side .menu li {
    display: block;
    padding: .5em 0;
}

.half img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;
}

.video-player video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}